<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$web_title$</title>
<meta name="keywords" content="$web_keywords$" />
<meta name="description" content="$web_description$" />
<link href="/css/$web_theme$/en_style.css" rel="stylesheet" type="text/css" />
<link href="/css/$web_theme$/en_common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/en_functions.js"></script>
<script type="text/javascript" src="/js/en_focusslide.js"></script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
<script type="text/javascript">
window.onerror=function(){return true;}
</script>
</head>

<body>
<div id="wrapper">

<!--head start-->
<div id="head">

<!--top start -->
<div class="top">
<div class="TopInfo"><div class="link">Language Selection: <a  href="/">Chinese</a> | <a href="/English">English</a></div>
</div>
<div class="clearfix"></div>
<div class="TopLogo">
<div class="logo"><a href="/"><img src="/images/up_images/$web_image$" alt="$web_name$"></a></div>
<div class="tel">
<p class="telW">HOTLINE</p>
<p class="telN">$web_tel$</p>
</div>
</div>

</div>
<!--top end-->

<!--nav start-->
<div id="NavLink">
<div class="NavBG">
<!--Head Menu Start-->
$web_TopMenu$
<!--Head Menu End-->
</div>
<div class="clearfix"></div>
</div>
<!--nav end-->
<!--focus start-->
<div id="FocusBG">
<div id="Focus">
<ul>
$web_TopIMGAD$</ul>
</div>
</div>
<!--foncus end-->
<div class="HeightTab clearfix"></div>

</div>
<!--head end-->
<!--body start-->
<div id="body">
<!--MainBlock start-->
<div class="MainBlock">
<!--left start-->
<div class="right">
<div class="topic">
<div class="TopicTitle"><a href="$WebAboutFolder$">$WebAboutName$</a></div>
<div class="TopicMore"> <a  href='$WebAboutFolder$'><img src="/images/more.png"></a></div>
</div>
<div class='img'><a href='$WebAboutFolder$' target='_blank'><img src='/images/Up_Images/$WebAboutImage$' width='250' height='100' 

alt='$WebAboutName$'></a></div><div class='txt ColorLink'><p>
$WebAboutContent$...<a href='$WebAboutFolder$' target='_blank'>Details>></a></p></div>
<div class=" clearfix"></div>

</div>
<!--left end-->
<div class='WidthTab2'></div>

<!--right start-->
<div class="left">
<div class="tab">
<ul class="tab-hd">$WebNewNewsTitles$</ul>
<ul class="tab-bd">
$WebNewNewsList$
</ul>
</div>
</div>
<!--right end-->
<!--right2 start-->
<div class="right2">
<div class="tab">
<ul class="tab-hd"><li><a href='/English$WebProductFolder$'>Hot Products</a></li><li><a href='/English$WebNewNewsFolder$'>Hot News</a></li></ul>
<ul class="tab-bd">
<li>
<div class='DivList'>
$WebPushProductList$
<div class='clearfix'></div>
</div>
</li>
<li>
<div class='DivList'>
$WebPushNewsList$
<div class='clearfix'></div>
</div>
</li>
</ul>
</div>
</div>
<!--right2 end--><div class="clearfix"></div>

</div>
<!--MainBlock end-->
<div class="HeightTab clearfix"></div>
<!--MainBlock start-->
<div class="MainBlock">
<!--left start-->
<div class="right">
<div class="topic">
<div class="TopicTitle"><a  href='/English$WebCaseFolder$'>$WebCaseName$</a></div>
<div class="TopicMore"> <a  href='/English$WebCaseFolder$'><img src="/images/more.png"></a></div>
</div>
<div class="HeightTab clearfix"></div>

<div class="PicBlock">
$WebCase_List$
<div class=" clearfix"></div>

</div>

<div class=" clearfix"></div>
</div>
<!--left end-->
<div class='WidthTab2'></div>

<!--right start-->
<div class="left">
<div class="tab">
<ul class="tab-hd">$WebArticleTitles$ </ul>
<ul class="tab-bd">
$WebArticleList$
</ul>
</div>
</div>
<!--right end-->
<!--right2 start-->
<div class="right2">
<div class="topic">
<div class="TopicTitle"><a  href='/English/contact'>Contact</a></div>
<div class="TopicMore"> <a  href='/English/contact'><img src="/images/more.png"></a></div>
</div>
<div class='img'><a href='/English/contact' target='_blank'><img src='/images/join.jpg' width='233' height='100' alt='contact'></a></div><div class="txt ColorLink">
$web_consult$</div>

<div class=" clearfix"></div>


</div>
<!--right2 end--><div class="clearfix"></div>

</div>
<!--MainBlock end-->
<div class="HeightTab clearfix"></div>

<!--ProductShow start-->
<DIV class="ProductShow">
<div class="topic">
<div class="TopicTitle"> <a  href='/English$WebProductFolder$'>$WebProductName$</a></div>
<div class="TopicMore"> <a  href='/English$WebProductFolder$'><img src="/images/more.png"></a></div>
</div>
<DIV class="hjnavC">
<DIV class="hjnavleft">
<UL>
$Block03_LeftItem_Title$
  </UL>
  </DIV>
<DIV class="hjnavcn">
$Block03_LeftItem$
</DIV>
</div>
<div class="clearfix"></div>
</DIV>
<SCRIPT type="text/javascript" src="/js/h.js"></SCRIPT>
<!--ProductShow end-->
<div class="HeightTab clearfix"></div>

<!--links start-->
<div id="Links">
<span>Friendly Links：</span>$web_link$
  
</div>
<!--links end-->

</div>
<!--body end-->
<div class="HeightTab clearfix"></div>
<!--footer start-->
<div id="footer">
<div class="inner">
$web_BottomHTML$
</div>
</div>
<!--footer end -->


</div>
<script type="text/javascript" src="/js/ServiceCenter.js"></script>

</body>
</html>
<!--
Powered By HituxCMS ASP V2.1 
-->
